.currency-input {
  position: relative;
  display: flex;
  padding: 4px 10px;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  background-color: #1f2e54;
  border: 1px solid rgba(255, 255, 255, 0.26);
  // @media screen and (max-width: $breakpoint-md) {
  //   padding: 18px 10px;
  //   border-radius: 8px;
  // }

  input {
    flex: 1;
    outline: none;
    border: none;
    background: transparent;
    padding: 0 16px;
    text-align: center;
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    min-width: 0;
    max-width: 180px;
    // @media screen and (max-width: $breakpoint-md) {
    //   font-size: 20px;
    // }

    &::placeholder {
      color: #9aa5af;
    }
  }

  .currency-input-symbol {
    // position: absolute;
    // right: 0;
    // top: 50%;
    // transform: translateY(-50%);
    padding: 0px 10px;
    display: flex;
    align-items: center;
    // min-width: 188px;
    width: 100px;
    gap: 5px;
    color: #9aa5af;
    font-size: 21px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.4s ease-out;

    // @media screen and (max-width: $breakpoint-md) {
    //   min-width: 119px;
    //   font-size: 12px;
    //   padding: 20px 16px;
    //   gap: 10px;
    // }

    .coin-image {
      width: 32px;
      height: 32px;

      // @media screen and (max-width: $breakpoint-md) {
      //   width: 22px;
      //   height: 22px;
      // }
    }

    .carrot-icon {
      width: 10px;
      height: auto;
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .coin-selector {
    position: absolute;
    right: -2px;
    padding: 24px;
    background-color: #1f2e54;
    border: 1px solid rgba(255, 255, 255, 0.26);
    border-radius: 16px;
    z-index: 1000;
    animation: fade-in 0.25s ease-out;
    // @media screen and (max-width: $breakpoint-md) {
    //   padding: 16px;
    // }
    &-backdrop {
      position: fixed;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      z-index: 999;
    }
    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: auto;
      cursor: pointer;
      &:not(:first-child) {
        margin-top: 24px;
        // @media screen and (max-width: $breakpoint-md) {
        //   margin-top: 16px;
        // }
      }
      .coin-image {
        width: 32px;
        height: 32px;
        // @media screen and (max-width: $breakpoint-md) {
        //   width: 22px;
        //   height: 22px;
        // }
      }
      span {
        padding: 0 15px;
        font-size: 21px;
        font-weight: 600;
        line-height: 26px;
        color: #9aa5af;
        // @media screen and (max-width: $breakpoint-md) {
        //   font-size: 12px;
        //   line-height: 20px;
        // }
      }
      .check-mark {
        width: 14px;
        opacity: 0;
        // @media screen and (max-width: $breakpoint-md) {
        //   width: 10px;
        // }
      }
      &.selected {
        span {
          color: #fff;
        }
        .check-mark {
          opacity: 1;
        }
      }
    }
  }
}
